/node_modules/
/.idea/
/coverage/
/site
/report/
/.c9revisions/
/.settings/
/rpm/BUILD/
/rpm/BUILDROOT/
/rpm/RPMS/
/rpm/SRPMS/

.settings
.classpath
.project
.metadata
package-lock.json
npm-debug.log
.env
